.cards{
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 5px 5px 5px 5px silver;
  height: 18rem;
  text-align: center;
  padding-top: 10px;
  position: relative
}

.cards-image{
  max-width: 10rem;
  max-height: 10rem;
}

.cards-title{
  position: absolute;
  bottom: 3rem;
}

.cards-button{
  position: absolute;
  bottom: 1rem;
  left: 6.5rem;
}

.my-list{
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
}